body {
    font-family: Arial, sans-serif;
    text-align: center;
    /*background-color: #f3f3f3;*/
    margin: 0;
    padding: 0;
    background: #ccc; /*url('imagens/annie-spratt-dWYU3i-mqEo-unsplash.jpg') center/cover; /* Imagem de fundo */
    position: relative; /* Necessário para posicionar conteúdo absoluto dentro */
}

.titulo h1 {
    color: #f9f9f9;
    /*background-color: rgba(255, 255, 255, 0.2);*/
    /*padding: 20px 0;*/
    margin-left: 280px;
    margin-top: 20px;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ccc;
    padding: 15px;
}

th {
    background-color: #241f66;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Cor de fundo para linhas pares */
}

tr:hover {
    background-color: #e0e0e0; /* Cor de fundo ao passar o mouse sobre uma linha */
}

a {
    color: #241f66;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.cabecalho {
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    /*background-color: rgba(255, 255, 255, 0.2);*/
    background-color: hsl(244, 53%, 26%);
    padding: 10px 20px;
}

.imagem-logo {
    width: 130px;
    height: auto;
    margin-right: 20px;
    margin-left: 0;
    margin-top: 20px;
}

.imagem-logo img {
    width: 100%;
    height: auto;
    display: block;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #241f66;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}

a.button:hover {
    background-color: #080444;
}
