body {
    font-family: Arial, sans-serif;
    text-align: center;
    /*background-color: #f3f3f3;*/
    margin: 0;
    padding: 0;
    background: #ccc; /*url('imagens/annie-spratt-dWYU3i-mqEo-unsplash.jpg') center/cover; /* Imagem de fundo */
    position: relative; /* Necessário para posicionar conteúdo absoluto dentro */
}

.titulo {
    color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    /*position: relative;
    height: 100px;*/
}

.titulo h1 {
    /*color: #f9f9f9;*/
    /*background-color: rgba(255, 255, 255, 0.2);*/
    /*padding: 20px 0;*/
    /*margin-left: 190px;
    margin-top: 20px;*/
    margin: 0px;
    text-align: center;
    /*position: absolute;
    top: 50%;
    left: 50%;*/
    /*transform: translate(-50%);*/
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #ccc;
    padding: 15px;
}

th {
    background-color: #241f66;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Cor de fundo para linhas pares */
}

tr:hover {
    background-color: #e0e0e0; /* Cor de fundo ao passar o mouse sobre uma linha */
}

a {
    color: #241f66;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.cabecalho {
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    /*background-color: rgba(255, 255, 255, 0.2);*/
    background-color: hsl(244, 53%, 26%);
    padding: 10px 20px;
}

.imagem-logo {
    width: 130px;
    height: auto;
    margin-right: 20px;
    margin-left: 0;
    margin-top: 20px;
}

.imagem-logo img {
    width: 100%;
    height: auto;
    display: block;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #241f66;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}

a.button:hover {
    background-color: #080444;
}



.table-container {
    margin-bottom: 40px;
    display: block; /* Inicia todas as tabelas visíveis */
}

table {
    border-collapse: collapse;
    width: 50%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #2F2D5C;
}

#campo-busca {
    width: 50%;
    margin: 2% auto;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    
}

#searchInput {
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
    height: 40px;
}

#searchButton {
    width: 25%;
    padding: 10px;
    margin-left: 1px;
    box-sizing: border-box;
    height: 40px;
}

.link {
    color: #ddd;
}

.linhaLink:hover {
    transform: scale(1.1);
    background-color: #2F2D5C;
}

.linhaLink {
    background-color: hsl(244, 53%, 26%, 0.8) /*#2F2D5C*/;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

/* Estilos para o modal */
.modal {
    display: none; /* Oculta o modal por padrão */
    position: fixed;
    z-index: 1000; /* Coloca o modal sobre outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semitransparente */
  }
  
  /* Conteúdo do modal */
  .modal-content {
    margin: 15% auto; /* Centraliza o modal verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Largura do modal */
    background-color: #2F2D5C;
    color: white
  }
  
  /* Estilos para o botão de fechar */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Estilos para o formulário dentro do modal */
  form {
    margin-top: 20px;
  }
  
  label {
    margin-bottom: 5px; /* Espaçamento inferior */
    text-align: center; /* Centraliza o texto dos rótulos */
  }
  
  input[type="text"],
  input[type="email"] {
    width: 50%; /* Largura dos campos de entrada */
    padding: 10px; /* Espaçamento interno */
    margin-bottom: 10px; /* Espaçamento inferior */
    border: 1px solid #ccc; /* Borda sólida */
    border-radius: 4px; /* Borda arredondada */
    box-sizing: border-box; /* Inclui preenchimento e borda na largura total */
  }
  
  button[type="submit"] {
    background-color: #4CAF50; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Remove a borda do botão */
    border-radius: 4px; /* Adiciona bordas arredondadas */
    cursor: pointer; /* Altera o cursor ao passar por cima */
    float: right; /* Alinha o botão à direita */
  }
  
  button[type="submit"]:hover {
    background-color: hsl(244, 53%, 26%, 0.8); /* Cor de fundo do botão ao passar por cima */
  }

  #candidateForm {
    margin-top: 20px; /* Espaçamento superior */
    display: flex; /* Usa flexbox para alinhar os elementos */
    flex-direction: column; /* Alinha os elementos em uma coluna */
    align-items: center; /* Centraliza os elementos horizontalmente */
  }
  