body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("imagens/annie-spratt-dWYU3i-mqEo-unsplash.jpg");
    background-size: cover;
  }
  
  #scrollingForm {
    position: fixed;
    top: 50%;
    right: 5%;
    transform: translate(0, -50%);
    transition: top 0.3s ease-in-out;
  }
  
  #content {
    height: 150vh; /* Altura suficiente para rolar a página */
  }
  
  .scrolled #scrollingForm {
    position: absolute;
  }
  
  form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
  }
  
  button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
  	z-index: 999;
}

#whatsapp-button a {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #25d366; /* Cor de fundo do WhatsApp */
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#whatsapp-button img {
    width: 100%;
    height: auto;
}

#whatsapp-button a::before {
    content: "Clique aqui para falar com a equipe de vendas";
    font-weight: bold;
    position: absolute;
    top: -15px; /* Posição do texto informativo acima do botão */
    left: 50%;
    transform: translateX(-90%);
    background-color: #25d366; /* Cor de fundo do texto informativo */
    color: #000; /* Cor do texto informativo */
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 999;
}

#whatsapp-button a:hover::before {
  opacity: 1;
}
